#cat {
  width: 100%;
  height: 500px;
  background-color: whitesmoke;
}

#cat img {
  width: 50%;
  height: 400px;
  margin-top: 30px;
  margin-left: 15%;
}

.cats {
  width: 100%;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-size: 1.5em;
}

.catbtn {
  position: absolute;
  top: 130px;
  right: 35%;
  width: 50px;
  height: 50px;
  background-color: mintcream;
  border: none;
  color: goldenrod;
  cursor: pointer;
}

.catbtn:hover {
  color: mintcream;
  background-color: greenyellow;
}

.cat-selector {
  position: absolute;
  top: 130px;
  right: 10%;
  width: 150px;
  text-align: center;
  height: 50px;
  background-color: mintcream;
  border: none;
  color: goldenrod;
  border-bottom: 10px solid gold;
  font-weight: bold;
}

.catnum {
  position: absolute;
  top: 18.6%;
  left: 15%;
  width: 50px;
  height: 50px;
  background-color: mintcream;
  border: none;
  color: goldenrod;
  line-height: 50px;
  text-align: center;
}

.find {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: mintcream;
  top: 65%;
  left: 85%;
  text-align: center;
  line-height: 50px;
  font-size: 1.3em;
  color: goldenrod;
  border-radius: 50%;
  cursor: pointer;
}

.find:hover {
  color: mintcream;
  background-color: greenyellow;
}

@media screen and (max-width: 640px) {
  .cat-selector {
    top: 100px;
    height: 30px;
    width: 30%;
    right: 37%;
  }
  #cat img {
    width: 80%;
    margin-left: 10%;
  }
  .catnum {
    left: 10%;
  }
  .catbtn {
    right: 10%;
  }
  .cats {
    width: 100%;
    text-align: center;
  }
}
